/* Location Page CSS */

.page-title {
    color: #000;
    text-shadow: none;
}

.card-img-top:hover{
    opacity: 1;
    cursor: default;
}

.card-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.card-footer span {
    font-size: 18px;
}

.card-footer span ion-icon {
    font-size: 14px;
    color: #000;
}

.card-footer span, .card-footer button {
    margin-bottom: 4px;
}

/* Rating System */

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    display: none;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
