/* Pick Me a Meal Page CSS */

/* Criteria Styling */
.criteria {
    background-image: url("../images/meal-banner.jpg");
    background-blend-mode: overlay; /* allows background color to be seen */
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 4px;
    padding-bottom: 36px;
    background-color: rgb(0, 0, 0, 0.35) /* for readability */
}

.banner-text {
    margin: auto;
    width: 30%;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px #000;
}

.page-title {
    color: #fff;
    text-shadow: 2px 2px 4px #000;
}

.optionButtons {
    margin: 0;
    padding: 28px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

.button {
    margin: 10px;
    padding: 12px;
    min-width: 360px;
    font-size: 20px;
    transition: all 0.1s ease-out;
}

.button:active {
    transform: scale(0.98, 0.96);
    transition: .02s linear;
}

/* Lowering cards container width*/

.container-fluid {
    width: 60%;
}

/* Hide meal */

.yourMealHide {
    display: none;
}

/* Change option button size on resize */

@media (max-width: 575px) {
    .optionButtons button {
        min-width: 220px;
    }
}

@media (max-width: 991px) {
    .criteria p {
        width: 80%;
    }
}

@media (max-width: 1299px) {
    .container-fluid {
        width: 100%;
    }
}