/* Menu Page CSS */
.menu-banner {
    background-image: url("../images/menu-banner.jpg");
    background-blend-mode: overlay; /* allows background color to be seen */
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 4px;
    padding-bottom: 36px;
    background-color: rgb(0, 0, 0, 0.2) /* for readability */
}

.page-title {
    color: #fff;
    text-shadow: 2px 2px 4px #000;
}

/* Dropdown Menu Styling */
.dropdown{
    text-align: center;
    padding: 16px 0;
}

/* Sort and Filter Styling */
.filter-out {
    display: none;
    float: left;
}

.show {
    display: inline-block;
}

/* Mobile View */
@media (max-width: 991px) {
    .banner-attribution {
        width: 80%;
    }
}